<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture Notes Generator Web</title>
</head>
<body>
    <h1>Lecture Notes Generator Web</h1>
    <form action="{{url_for('generate_pdf')}}" method="post" enctype="multipart/form-data" id="file_form">
        <input type="file" name="pdftoconvert" id="file_input" accept="application/pdf">
        <input type="radio" name="paper_type" id="paper_type_blank" value="Blank">
        <label for="paper_type_blank">Blank</label>
        <input type="radio" name="paper_type" id="paper_type_lined" value="Lined">
        <label for="paper_type_lined">Lined</label>
        <input type="radio" name="paper_type" id="paper_type_grid" value="Grid">
        <label for="paper_type_grid">Grid</label>
        <button type="submit">Invia</button>
    </form>

    <script>
        const form = document.getElementById("file_form")
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            formData = new FormData(form);
            fetch("{{url_for('generate_pdf')}}", {
                method: 'POST',
                body: formData,  
            })
            .then((res) => res.json())
            .then((data) => {
                const downloadButton = document.createElement("button");
                downloadButton.textContent = "Download File";
                downloadButton.addEventListener("click", () => {
                    document.removeChild(downloadButton);
                    window.open(data.download_link);
                });
                document.body.appendChild(downloadButton);
            });     
        })
    </script>
</body>
</html>